@model ClientAPI.Models.CreatePrizeModel
@using ClientAPI.Models.DetailPrize


@{
    ViewBag.Title = "CreatePrize";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>CreatePrize</h2>

@using (Html.BeginForm())
{

    <form class="form-horizontal">
        <div class="row">
            <div class="form-group">

                <div class="col-xs-2">
                    <label style="color:red">Giải Đặc Biệt</label>
                </div>
                <div class="col-xs-1">
                    <!-- This is a new div -->
                    @Html.TextBoxFor(x => x.GetSpecialPrize.First, new { @class = "form-control" })
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">

                <div class="col-xs-2">
                    <label class="control-label">Giải Nhất</label>
                </div>
                <div class="col-xs-1">
                    <!-- This is a new div -->
                    @Html.TextBoxFor(x => x.GetFirstPrize.First, new { @class = "form-control" })
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">

                <div class="col-xs-2">
                    <label class="control-label">Giải Nhì</label>
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetSecondPrize.First, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetSecondPrize.Second, new { @class = "form-control" })
                </div>
                <div class="clearfix">
                </div>

            </div>
        </div>
        <div class="row">
            <div class="form-group">

                <div class="col-xs-2">
                    <label class="control-label">Giải Ba</label>
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetThirdPrize.First, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetThirdPrize.Second, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetThirdPrize.Third, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetThirdPrize.Four, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetThirdPrize.Fifth, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetThirdPrize.Sixth, new { @class = "form-control" })
                </div>
                <div class="clearfix">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="form-group">

                <div class="col-xs-2">
                    <label class="control-label">Giải Tư</label>
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetFourthPrize.First, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetFourthPrize.Second, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetFourthPrize.Third, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetFourthPrize.Fourth, new { @class = "form-control" })
                </div>
                <div class="clearfix">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="form-group">

                <div class="col-xs-2">
                    <label class="control-label">Giải Năm</label>
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetFifthPrize.First, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetFifthPrize.Second, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetFifthPrize.Third, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetFifthPrize.Four, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetFifthPrize.Fifth, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetFifthPrize.Sixth, new { @class = "form-control" })
                </div>
                <div class="clearfix">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="form-group">

                <div class="col-xs-2">
                    <label class="control-label">Giải Sáu</label>
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetSixthPrize.First, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetSixthPrize.Second, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetSixthPrize.Third, new { @class = "form-control" })
                </div>
                <div class="clearfix">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="form-group">

                <div class="col-xs-2">
                    <label class="control-label">Giải Bảy</label>
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetSeventhPrize.First, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetSeventhPrize.Second, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetSeventhPrize.Third, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(x => x.GetSeventhPrize.Fourth, new { @class = "form-control" })
                </div>

                <div class="clearfix">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="form-group">
                <input type="submit" value="Tạo giải" class="btn btn-success"/>
            </div>
        </div>

    </form>






}












